* {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
}
body {
  padding: 50px;
  background-color: #DBDBDB;
  
}

a {
  color: #00B7FF;
}
.navbar-brand {
	padding-left: 22px;
}
.navbar-brand, .navbar-nav li a  {
	color: #fff;
}
.nav>li>a:hover, .nav>li>a:focus, .nav>.active>a {
	background: #444444;
}
.post  {
	text-align: center;
	background: #fff;
	padding-bottom: 11px;
	margin-bottom: 22px;
}
.post__content {
	text-align: left;
	padding-left: 22px;
	position: relative;
}
.post__content h2, .post__content p {
	margin: 0;
}
.post__image img {
	width: 100%;
}
.post__content__date {
	position: absolute;
	right: 11px;
	bottom: 0;
}
.has-warning input{
	border: 1px solid rgb(192, 0, 0);
}
.collapse {
	background: rgb(192, 0, 0);
}
.container {
  width: 670px;
}

.form-horizontal.newPost {
	background: #fff;
	padding: 22px;
	margin: 0 auto;
	width: 300px;
}
.form-horizontal.newPost input{
	width: 100%;
	padding: 5px 10px;
}
.text_block {
	background: #fff;
	padding: 11px 22px;
}