doctype html
html(lang='en' ng-app='wrum')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="keywords" content="парковки, я паркуюсь как мудак, я паркуюсь как дура, боги парковки, украина, бендеровцы, авторегистраторы, видое аварии, фото аварии, аварии, фото, автомобили,смешные видео, смешные картинки")
		title Заповедник мастеров парковки
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='./css/style.css')
		script(src="//vk.com/js/api/openapi.js?116")
	body
		.main
			div(ng-view class="fullwidth")
		script(src='./bower_components/jquery/dist/jquery.min.js')
		script(src='./bower_components/angular/angular.js')
		script(src='./bower_components/angular-resource/angular-resource.js')
		script(src='./bower_components/angular-route/angular-route.js')
		script(src='./bower_components/angular-upload/angular-upload.js')
		script(src='./bower_components/ng-file-upload/angular-file-upload-shim.js')
		script(src='./bower_components/ng-file-upload/angular-file-upload.js')
		script(src='./js/application.js')
		script(src='./js/controllers/controllers.js')
		script(src='./js/directives/directives.js')
	footer
		.container
			.row
				.col-md-12
					center
						p by Nigorro. 2015.