<header id="header">
  <nav>
      <div class="wrap group">
          <ul id="navigation" class="group">
              <li>
                <a href="/#/">Главная</a>
              </li>
              <li>
                <a href="/#/newpost">Добавить</a>
              </li>
              <li>
                <a href="/#/about" class="current_page_item">О проекте</a>
              </li>
          </ul>
      </div><!-- .wrap < nav -->
  </nav>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputUsername" class="col-sm-4 control-label">Username</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="login.email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-4 control-label">Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="login.password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="logIn(login.email, login.password)">Log In</button>
            </div>
        </div>
    </form>
      <article  class="category-people category-photography category-pretty-girls entry box format-image">
          <div class="text_block">
            <p>Добро пожаловать на автомобильный ресурс Wrum-Wrum.</p>
            <p>Ресурс создан с целью публичного осуждения водителей которые, открыто нарушают правила</p>
          </div>
      </article>
    </div>
  </div>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter29815729 = new Ya.Metrika({id:29815729,
                      webvisor:true,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true});
          } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript><div><img src="//mc.yandex.ru/watch/29815729" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
</div>