<!-- <form ng-submit="newPost()">
  <input type="text" ng-model="params.title" placeholder="Заголовок" />
  <input type="text" ng-model="params.description" placeholder="Текст" />
  <input type="text" ng-model="params.image" placeholder="URL фотографии" />
	<input type="text" ng-model="params.carNumber" placeholder="Номер машины" />
	<input type="text" ng-model="params.author" placeholder="Автор" />
  <input class="btn btn-primary" type="submit" id="submit" value="Submit" />
</form> -->
<!-- {{inProcess}}<br> -->

<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/#/" class="navbar-brand">Wrum-Wrum</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/#/">Главная</a>
        </li>
        <li class="active">
          <a href="/#/newpost">Добавить</a>
        </li>
        <li>
          <a href="/#/">О проекте</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div  ng-show='inProcess'  class="alert alert-success alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
			  <strong>Успех!</strong> Ваша запись добавлена. Она появиться на главной странице после модерации
			</div>
			<form novalidate name="postForm" class="form-horizontal newPost"  ng-submit="newPost()">
				<div class="form-group" >
			    	<input type="text" ng-model="params.description" placeholder="Текст" />
				</div>
				<div class="form-group"  ng-class="{'has-warning': postForm.$invalid}">
			    	<input type="text" ng-model="params.image" placeholder="URL фотографии" required/>
				</div>
				<div class="form-group">
			    	<input type="text" ng-model="params.carNumber" placeholder="Номер машины" />
				</div>
				<div class="form-group">
			    	<input type="text" ng-model="params.author" placeholder="Автор" />
				</div>
				<div class="form-group text-center"  ng-class="{'has-success':1, 'has-warning':1}">
				  <button ng-disabled="postForm.$invalid" type="submit" class="btn btn-primary">Отправить</button>
				</div>
			</form>
		</div>
	</div>
</div>
